<div class="footer-icons-wrapper">
    <div class="footer-icon-visa">
        {%- render 'icon-visa' -%}
    </div>
    <div class="footer-icon-paypal">
        {%- render 'icon-paypal' -%}
    </div>
    <div class="footer-icon-bizum">
        {%- render 'icon-bizum' -%}
    </div>
    <div class="footer-icon-sequra">
        {%- render 'icon-sequra' -%}
    </div>
    <div class="footer-icon-trilogi">
        {%- render 'icon-trilogi' -%}
    </div>
</div>