/* PRODUCT PAGE */

.wrapper-custom {
  position: relative;
}

.product-single__details-custom {
  width: 100%;
  position: static;
}

.product-upsell__holder-custom {
  padding: 1rem;
  border: var(--Quantity, 0.0625rem) solid var(--base-neutral-900, #222223);
  margin-top: 2rem;
}

.product__title-and-price-custom {
  gap: 0.75rem;
}

.sku-label,
.sku-value {
  color: var(--base-neutral-600, #878789);
}

.product__price--regular.product__price--sale {
  color: var(--base-red-500, #e94949);
}

.product__price--compare-custom {
  color: var(--Base-neutral-500, #b5b5b8);
  margin-left: 0.75rem;
}

.product__price--off-custom {
  background-color: var(--base-red-500, #e94949);
  border-radius: 2px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.product__badge__item.product__badge__item--custom.product__badge__item--custom-product {
  width: fit-content;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
}

.product__block.product__description.rte {
  color: var(--base-neutral-600, #878789);
}

.icon-ruler-custom {
  margin-right: 0.5rem;
}

.ruler-text-custom {
  text-transform: none;
}

.product__popup__link-custom {
  position: absolute;
  top: 1.375rem;
  right: 0;
  z-index: 999;
}

.product__popup__link:hover {
  border-bottom: 1px solid black;
  border-radius: 0;
}

.shopify-payment-button:hover .shopify-payment-button__button {
  background-color: var(--primary-primary-500, #5d1265) !important;
  color: var(--base-white, #ffffff) !important;
  transition: none !important;
}

.radio__label-custom {
  padding: var(--Spacers-8, 8px) var(--Font-Size-10, 10px);
  border-radius: 4px;
}

.radio__label-custom:hover,
.radio__button.sold-out .radio__label-custom:hover,
.radio__button.unavailable .radio__label-custom:hover {
  background-color: var(--base-neutral-900, #222223);
  color: var(--base-white, #ffffff);
}

.product-upsell__price-new {
  color: var(--base-red-500, #e94949);
  font-weight: 600;
}

.heading-flex-start {
  text-align: left;
}

.section__header-custom {
  margin-bottom: calc(var(--gutter) / 3);
}

.accordion__item__text.rte > p {
  font-size: 0.875rem;
}

@media only screen and (min-width: 768px) {
  .wrapper-custom {
    padding: 0;
  }

  .product-single-custom {
    padding-left: 9.9375rem;
    padding-right: 9.9375rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding {
    --padding-top: calc(var(--PT) * 0.8);
  }
  .product__price--off-custom {
    left: 1.875rem;
  }
  .product__badge__item.product__badge__item--custom.product__badge__item--custom-product {
    left: 1.5rem;
  }
  .product__title {
    font-size: calc(1.56rem * var(--adjust-heading));
  }
  .product__title-and-price-custom {
    gap: 0;
  }
  .breadcrumps-custom {
    position: absolute;
    top: -2rem;
  }
  .product__popup__link-custom {
    top: 0.75rem;
  }
  .product-single__thumbnails {
    display: none;
  }
}

/* ABOUT PAGE */

/* APPS */

.restock-alerts-notify-button {
  background-color: var(--base-white, #ffffff) !important;
  color: var(--primary-primary-500, #5d1265) !important;
  border: 1px solid var(--primary-primary-500, #5d1265) !important;
  transition: none !important;
}

.restock-alerts-notify-button:hover {
  background-color: var(--primary-primary-500, #5d1265) !important;
  color: var(--base-white, #ffffff) !important;
}

.restock-alerts-branding-text.brandingStyle {
  display: none !important;
}

/*================ PEACOCK TYPOGRAPHY CLASSES ================*/

.titles-40-bold {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
}
.titles-40-semibold {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 110%;
}
.titles-40-regular {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 110%;
}
.titles-32-bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 110%;
}
.titles-32-semibold {
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
}
.titles-32-regular {
  font-size: 2rem;
  font-weight: 400;
  line-height: 110%;
}
.titles-28-bold {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;
}
.titles-28-semibold {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 120%;
}
.titles-28-regular {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 120%;
}
.titles-24-bold {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}
.titles-24-semibold {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
}
.titles-24-regular {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
}
.titles-20-bold {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
}
.titles-20-semibold {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}
.titles-20-regular {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}
.body-16-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}
.body-16-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
}
.body-16-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}
.body-14-regular {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
}
.body-14-semibold {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 140%;
}
.body-14-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
}
.body-12-regular {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.body-12-semibold {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.body-12-bold {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.body-10-regular {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.body-10-semibold {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.body-10-bold {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.single-16-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}
.single-16-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
}
.single-16-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 100%;
}
.single-14-regular {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
}
.single-14-semibold {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
}
.single-14-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 100%;
}
.single-12-regular {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%;
}
.single-12-semibold {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 100%;
}
.single-12-bold {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 100%;
}
.single-10-regular {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 100%;
}
.single-10-semibold {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 100%;
}
.single-10-bold {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 100%;
}
.specials-tags-tags {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.specials-filters-range-flag {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 100%;
}
.display-80-regular {
  font-size: 5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.05rem;
}
.display-72-regular {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.045rem;
}
.display-64-regular {
  font-size: 4rem;
  font-weight: 300;
  line-height: 110%;
}
.display-56-regular {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.035rem;
}
.display-48-regular {
  font-size: 3rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.03rem;
}
.shadow-small {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}
.shadow-medium {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.shadow-large {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
}

/*================ PEACOCK COLOR VARIABLES ================*/

:root {
  --base-black: #000000;
  --base-white: #ffffff;
  --base-neutral-900: #222223;
  --base-neutral-800: #3b3b3c;
  --base-neutral-700: #5e5e5f;
  --base-neutral-600: #878789;
  --base-neutral-500: #b5b5b8;
  --base-neutral-400: #c9c9cb;
  --base-neutral-300: #dbdbdd;
  --base-neutral-200: #ebebec;
  --base-neutral-100: #f5f5f6;
  --base-blue-900: #000f1d;
  --base-blue-800: #01213f;
  --base-blue-700: #01386b;
  --base-blue-600: #01519d;
  --base-blue-500: #026cd1;
  --base-blue-400: #4291dd;
  --base-blue-300: #7eb4e8;
  --base-blue-200: #b4d4f1;
  --base-blue-100: #deecf9;
  --base-green-900: #0e210f;
  --base-green-800: #1a3c1b;
  --base-green-700: #295f2b;
  --base-green-600: #3a863d;
  --base-green-500: #4caf50;
  --base-green-400: #71c074;
  --base-green-300: #94cf96;
  --base-green-200: #b3ddb5;
  --base-green-100: #cbe8cc;
  --base-red-900: #310f0f;
  --base-red-800: #541a1a;
  --base-red-700: #812828;
  --base-red-600: #b33838;
  --base-red-500: #e94949;
  --base-red-400: #ee7171;
  --base-red-300: #f29797;
  --base-red-200: #f7b9b9;
  --base-red-100: #fad3d3;
  --base-cyan-900: #071e29;
  --base-cyan-800: #0c3143;
  --base-cyan-700: #11455f;
  --base-cyan-600: #19668d;
  --base-cyan-500: #269dd9;
  --base-cyan-400: #81c6e9;
  --base-cyan-300: #a8d8f0;
  --base-cyan-200: #c9e6f5;
  --base-cyan-100: #eef7fc;
  --base-orange-900: #301d00;
  --base-orange-800: #4f2f00;
  --base-orange-700: #704300;
  --base-orange-600: #a66300;
  --base-orange-500: #ff9800;
  --base-orange-400: #ffc36b;
  --base-orange-300: #ffd699;
  --base-orange-200: #ffe5bf;
  --base-orange-100: #fff7eb;
  --alpha-alphalight-900: #ffffff;
  --alpha-alphalight-800: #ffffff;
  --alpha-alphalight-700: #ffffff;
  --alpha-alphalight-600: #ffffff;
  --alpha-alphalight-500: #ffffff;
  --alpha-alphalight-400: #ffffff;
  --alpha-alphalight-300: #ffffff;
  --alpha-alphalight-200: #ffffff;
  --alpha-alphalight-100: #ffffff;
  --alpha-alphadark-900: #000000;
  --alpha-alphadark-800: #000000;
  --alpha-alphadark-700: #000000;
  --alpha-alphadark-600: #000000;
  --alpha-alphadark-500: #000000;
  --alpha-alphadark-400: #000000;
  --alpha-alphadark-300: #000000;
  --alpha-alphadark-200: #000000;
  --alpha-alphadark-100: #000000;
  --primary-primary-900: #0e002c;
  --primary-primary-800: #1d003e;
  --primary-primary-700: #320051;
  --primary-primary-600: #49055f;
  --primary-primary-500: #5d1265;
  --primary-primary-400: #7a3a7f;
  --primary-primary-300: #966399;
  --primary-primary-200: #b38bb4;
  --primary-primary-100: #cdb3ce;
  --document-canvas-variants-bg: #7b61ff;
  --document-canvas-canvas-dark: #f4f4f4;
  --document-canvas-canvas-light: #f9fafb;
  --document-canvas-variants: #7b61ff;
  --document-cover-ribbon-not-available: #1c92ff;
  --document-cover-ribbon-old-version: #ef5b5b;
  --document-cover-ribbon-work-in-progress: #ff991c;
  --document-cover-ribbon-final-version: #2ad062;
  --secondary-secondary-900: #100d13;
  --secondary-secondary-800: #332b3d;
  --secondary-secondary-700: #564967;
  --secondary-secondary-600: #7a6691;
  --secondary-secondary-500: #9d84bb;
  --secondary-secondary-400: #a997c5;
  --secondary-secondary-300: #b5a9d1;
  --secondary-secondary-200: #c3bbdb;
  --secondary-secondary-100: #d3cee5;

  /* Others */
  --base-colors-gray-600: #767677;
}
