.wrapper-custom {
  position: relative;
}

.product-single__details-custom {
  width: 100%;
  position: static;
}

.product-upsell__holder-custom {
  padding: 1rem;
  border: var(--Quantity, 0.0625rem) solid var(--base-neutral-900, #222223);
}

.product__title-and-price-custom {
  gap: 0.75rem;
}

.sku-label,
.sku-value {
  color: var(--base-neutral-600, #878789);
}

.product__price--regular.product__price--sale {
  color: var(--base-red-500, #e94949);
}

.product__price--compare-custom {
  color: var(--Base-neutral-500, #b5b5b8);
  margin-left: 0.75rem;
}

.product__price--off-custom {
  background-color: var(--base-red-500, #e94949);
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 21px;
}

.product__block.product__description.rte {
  color: var(--base-neutral-600, #878789);
}

.product__badge__item.product__badge__item--custom.product__badge__item--custom-product {
  width: fit-content;
  position: absolute;
  z-index: 2;
}

.icon-ruler-custom {
  margin-right: 0.5rem;
}

.ruler-text-custom {
  text-transform: none;
}

.product__popup__link-custom {
  position: absolute;
  top: 1.375rem;
  right: 0;
  z-index: 999;
}

.product__popup__link:hover {
  text-decoration: underline;
}

.radio__label-custom {
  display: flex;
  width: var(--font-size-4032, 40px);
  height: var(--font-size-4032, 40px);
  padding: var(--Spacers-8, 8px) var(--Font-Size-10, 10px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Spacers-8, 0.5rem);
  border-radius: 4px !important;
  border: var(--Quantity, 1px) solid var(--base-neutral-900, #222223);
}

.radio__label-custom:hover,
.radio__button.sold-out .radio__label-custom:hover,
.radio__button.unavailable .radio__label-custom:hover {
  background-color: var(--base-neutral-900, #222223);
  color: var(--base-white, #ffffff);
}

@media only screen and (min-width: 768px) {
  .wrapper-custom {
    padding: 0;
  }

  .product-single-custom {
    padding-left: 9.9375rem;
    padding-right: 9.9375rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding {
    --padding-top: calc(var(--PT) * 0.8);
  }
  .product__price--off-custom {
    left: 30px;
  }
  .product__title {
    font-size: calc(1.56rem * var(--adjust-heading));
  }
  .product__title-and-price-custom {
    gap: 0;
  }
  .breadcrumps-custom {
    position: absolute;
    top: -2rem;
  }
  .product__popup__link-custom {
    top: 0.75rem;
  }
}
